<div class="auth-wrapper">
  <form class="form-signin" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <h3 class="h3 mb-3 font-weight-normal text-center">Sign in</h3>
      <!-- Login -->
      <div class="form-group">
          <label>Email address</label>
          <input type="email" class="form-control" formControlName="email" placeholder="Email">
      </div>
      <div class="form-group">
          <label>Password</label>
          <input type="password" class="form-control" formControlName="password" placeholder="Password">
      </div>

      <!-- Errors -->
      <ul>
        <li class="text-danger" *ngIf="errors?.email">{{ errors?.email }}</li>
        <li class="text-danger" *ngIf="errors?.password">{{ errors?.password }}</li>
        <li class="text-danger" *ngIf="errors?.error">{{ errors?.error }}</li>
      </ul>

      <button type="submit" class="btn btn-block btn-primary">Login</button>
  </form>
</div>
